.thems > div{
    height: 20px;
    width: 20px;
    float: left;
    margin-left: 5px;
    border: 1px solid black;
}

.yellow{
    background-color: rgb(240, 240, 89);
}

.green{
    background-color: rgb(90, 218, 90);
}

.red{
    background-color: rgb(250, 113, 113);
}

.black{
    background-color: rgb(42, 42, 42);
    color: white;
}